<!DOCTYPE html>
<html>
  <head>
    <title>OnlineAuctionSystem</title>
    <!-- Bootstrap CSS -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'home/header'%>  
     <div class="container">
      <% if (notice || alert) %>
          <%= render 'layouts/alerts' %>
      <% end %>
      </div>  
    <p class="alert"><%= alert %></p>
    <%= yield %>
   </body>
</html>
